* text=auto eol=lf

*.c text eol=lf
*.h text eol=lf
Makefile text eol=lf
*.sh text eol=lf

Doxyfile text eol=lf
*.md text eol=lf
orpheus.config.example text eol=lf
LICENSE text eol=lf

tests/** linguist-vendored